<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.altera.sbtgui.launch.modelsim.Nios2ModelsimLaunchConfiguration">
<stringAttribute key="elfFile" value="/home/ECE/arfeenh/Desktop/coe4ds4_lab5_2018/experiment2/software/experiment2/experiment2.elf"/>
<stringAttribute key="modelSimPath" value="/tools/altera/12.0/modelsim_ae/linuxaloem"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.altera.debug.cdi.gdb.plugin.Nios2GdbCdiDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="experiment2.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="experiment2"/>
<stringAttribute key="spdPath" value="/home/ECE/arfeenh/Desktop/coe4ds4_lab5_2018/experiment2/experiment2_tb.spd"/>
</launchConfiguration>
